<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-card>
                <mat-card-content>
                    <div class="col-lg-12">
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4 centerThis">
                            <h3 class="textShadow">
                                <span [routerLink]="['account']" style="cursor: pointer; outline: none;" title="Click to view Account details">WELCOME <br>TO<br>D2H TV</span>
                            </h3>
                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

